# üå± <u>Python Functions</u>
   1. Basics of Functions
        1. Calling Functions
        2. Return & Pass statements
        3. Types of Arguments
        4. Docstring
   2. Python Comprehensions
         1. List
         2. Dictionary
   3. Lambda Function
   4. Functional Programming
         1. Map
         2. Filter
         3. Reduce
   5. Common I/O Errors

### Advantages of Functions in Python
**Helps in increasing modularity of code** ‚Äì Python functions help divide the code into smaller problems and solve them individually, thus making it easier to code.

**Minimizes Redundancy** ‚Äì Python functions help you save the effort of rewriting the whole code. All you got to do is call the Function once it is defined.

**Maximes Code Reusability** ‚Äì Once defined, the python Function can be called as many times as needed, thus enhancing code reusability.

**Improves Clarity of Code** ‚Äì As the large program is divided into sections with the help of functions, it helps in increasing the readability of code, at the same time ensuring easy debugging.

## üëâ Basics of Functions

In [20]:
# pass statement
def first_function():
    pass

In [21]:
# calling functions
def hello_world():
    print('Hello World')
    
print(hello_world())

Hello World
None

In [22]:
# return values from a function
def hello_world():
    return 'Hello World'

var = hello_world()
print(var)
print(type(var))

Hello World
<class 'str'>

### Types of Arguments:
1. Required arguments
2. Variable-length arguments
3. Keyword arguments
4. Default arguments

***Required arguments***

In [23]:
# Required arguments
def hello(name, age, contact):
    return 'Hello'

greet = hello('John', 15, 8907)
print(greet)

Hello

In [24]:
# Multiple required arguments
def greet(time_of_day, name):
    return f'Good {time_of_day}, {name}!'

greeting = greet('Morning', 'John')
print(greeting)

Good Morning, John!

***Variable-length arguments***

In [25]:
def hello(*names):
    print("Hello")
    list1 = []
    for name in names:
        print(name)
        return name
    print('still inside the function')
    
hello("Anna", "Sara", 'John')

Hello
Anna

'Anna'

***Keyword arguments***

In [26]:
# Keyword arguments
def hello(**name):
    print("Hello", name['fname'], name['lname'])

hello(fname="Anne", lname="Sullivan")
hello(lname="Pichai", fname="Sundar")
hello(fname="Narendra", mname="Damodar", lname="Modi")
#hello(fname="Bill")

Hello Anne Sullivan
Hello Sundar Pichai
Hello Narendra Modi

***Default arguments***

In [27]:
def hello (name="John"):
    print("Hello", name)
hello()
hello("Mary")

Hello John
Hello Mary

### ‚ùìMini Challenge

Take a integers of variable length and return their sum.

input: 12, 24, 3, 5

input: 3, 4

In [28]:
def func(*num):
    sum = 0
    print(type(num))
    for i in num:
        sum = sum + i
    return sum
sum = func(1,6)
print("sum of numbers =",sum)

<class 'tuple'>
sum of numbers = 7

***Docstring***

In [29]:
def add(num1, num2):
    '''
    This function adds two values
    Input: takes 2 integer values
    Returns resultant integer
    '''
    return num1+num2

In [30]:
sum?

In [31]:
add(3,5)

8

### ‚ùì Mini Challenge 
Define a function that returns factorial of a number.
1. Include docstring
2. Take input from user

6! = 6x5x4x3x2x1 = 720

In [32]:
n=int(input())
def factorial(n):
    """
    Product from 1 upto the number is its factorial.
    """
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    return fact
factorial(n)    # shift+tab

7

5040

## üëâ Comprehensions

### üìç List comprehensions

**Problem Statement**
Given a list of integers, generate a list of numbers which are double the numbers in the original list.

In [33]:
original_list = [10, 20, 30, 40, 50, 60, 70, 80]
resultant_list = []
for i in original_list:
    resultant_list.append(i*2)
    
resultant_list

[20, 40, 60, 80, 100, 120, 140, 160]

In [34]:
# list comprehension
result = [i*2 for i in original_list]
result

[20, 40, 60, 80, 100, 120, 140, 160]

In [35]:
# conditions within list comprehension
filtered = [i for i in result if i<50]
filtered

[20, 40]

In [36]:
# if else within list comprehension
modified = [i*3 if i>=100 else i*2 for i in result]
modified

[40, 80, 120, 160, 300, 360, 420, 480]

In [37]:
# nested list comprehensions
matrix = [m for m in range(4) for n in range(3)]
print(matrix)

[0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3, 3]

In [38]:
# filtering from nested list
years = [['January', 'February', 'March'], ['April', 'May', 'June'], ['July', 'August', 'September'],['October','November','December']]
#print(years)
list1 = [i for sublist in years for i in sublist if len(i) <= 5]
print(list1)
filtered_years = [i for sublist in years for i in sublist if len(i) <= 5]
print(filtered_years)

['March', 'April', 'May', 'June', 'July']
['March', 'April', 'May', 'June', 'July']

### ‚ùì Mini Challenge
Given a list of weekdays in lowercase, convert them into uppercase using list comprehension.

weekdays = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

In [39]:
weekdays = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']
weekdays_in_upper = [i.upper() for i in weekdays]
weekdays_in_upper

['MONDAY', 'TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY', 'SUNDAY']

### ‚ùì Mini Challenge
Flatten the below list using list comprehension

years = [['January', 'February', 'March'], ['April', 'May', 'June'], ['July', 'August', 'September'], ['October','November','December']]

In [40]:
n_list = [i for j in years for i in j ]
print(n_list)

['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

### üìç Dictionary comprehensions

dictionary = {key: value for vars in iterable}

In [41]:
square_dict = dict()
for num in range(1, 11):
    square_dict[num] = num*num
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [42]:
# dictionary comprehension example
square_dict = {num: num*num for num in range(1, 11)}
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [43]:
#item price in dollars
old_price = {'milk': 1.02, 'coffee': 2.5, 'bread': 2.5}

dollar_to_pound = 0.76
new_price = {item: value*dollar_to_pound for (item, value) in old_price.items()}
print(new_price)

{'milk': 0.7752, 'coffee': 1.9, 'bread': 1.9}

In [44]:
# with conditionals
original_dict = {'jack': 38, 'michael': 48, 'guido': 57, 'john': 33}

even_dict = {k: v for (k, v) in original_dict.items() if v % 2 == 0}
print(even_dict)

{'jack': 38, 'michael': 48}

In [45]:
# if-else with dictionary comprehensions
even_odd_dict = {k:('even' if v%2==0 else 'odd') for (k, v) in original_dict.items()}
print(even_odd_dict)

{'jack': 'even', 'michael': 'even', 'guido': 'odd', 'john': 'odd'}

### ‚ùì Mini Challenge
Generate the below from the dictionary: original_dict = {'jack': 38, 'michael': 48, 'guido': 57, 'john': 33}

1. A dictionary of items where the key starts with 'j'
2. A dictionary with items with the keys in uppercase

In [46]:
with_j= {k:v for (k,v) in original_dict.items() if k.startswith("j")}
with_j

{'jack': 38, 'john': 33}

In [47]:
def add(a,b):
    return a+b

## üëâ Lambda function

Syntax: lambda argument(s): expression

Example: Add 10 to a number and return the result

In [48]:
def add_ten(num):
    return num+10

add_ten(5)

15

In [51]:
# lambda arguments : return statement

In [52]:
# Lambda function
x = lambda a : a + 10
print(x(5))

15

### ‚ùì Mini Challenge
Write a lambda function that takes 2 variables and returns the double of their sum.

Example:

Input: 2, 3

Output: 10

In [54]:
result = lambda a, b: 2*(a+b)
result(2,3)

10

### ‚ùì Mini Challenge
Define a function that accepts radius and returns the area of a circle.

In [55]:
x=lambda r:3.14*r*r
print(x(5))

78.5

## üëâ Functional Programming

A programming paradigm that uses functions to define computation is known as functional programming.

To know more about the elements of functional programming refer
[this](https://towardsdatascience.com/elements-of-functional-programming-in-python-1b295ea5bbe0)

***Higher-Order Functions***

In functional programming, higher-order functions are our primary tool for defining computation. These are functions that take a function as a parameter and return a function as the result. reduce(), map(), and filter() are three of Python‚Äôs most useful higher-order functions. They can be used to do complex operations when paired with simpler functions.

1. Map
2. Filter
3. Reduce

### üìç map()

SYNTAX: map(function, iterables)

In [56]:
# generate list of squares of original elements
def function(a):
    return a*a

x = map(function, (1,2,3,4))  #x is the map object

print(x)
print(list(x))

<map object at 0x7fd7b2919a30>
[1, 4, 9, 16]

In [57]:
# lambda with map
tup= (5, 7, 22, 97, 54, 62, 77, 23, 73, 61)
newtuple = tuple(map(lambda x: x+3 , tup)) 
print(newtuple)

(8, 10, 25, 100, 57, 65, 80, 26, 76, 64)

### ‚ùì Mini Challenge
Write a map function that adds "Hello, " in front of each item in the list.

name = ["Jane", "Lee", "Will", "Brie"]

output:

['Hello, Jane', 'Hello, Lee', 'Hello, Will', 'Hello, Brie']

In [58]:
name = ["Jane", "Lee", "Will", "Brie"]
list(map(lambda s : 'Hello, ' + s, name))

result = map(lambda s : 'Hello, ' + s, name)
print(list(result))

['Hello, Jane', 'Hello, Lee', 'Hello, Will', 'Hello, Brie']

### ‚ùì Mini Challenge
Using map() and len() functions create a list that consists the lengths of each element in the first list.

words=["Alpine", "Avalanche", "Powder", "Snowflake", "Summit"]

output: [6, 9, 6, 9, 6]

In [59]:
words=["Alpine", "Avalanche", "Powder", "Snowflake", "Summit"]
lengths = list(map(lambda x: len(x), words))
lengths

[6, 9, 6, 9, 6]

### üìç filter()

SYNTAX: filter (function, iterables)

In [60]:
def func(x):
    if x>=3:
        return x
    
y = filter(func, (1,2,3,4))  
print(y)
print(list(y))

<filter object at 0x7fd7b1f07ee0>
[3, 4]

In [61]:
# lambda with filter
y = filter(lambda x: (x%2==0), (1,2,3,4))
print(list(y))

[2, 4]

In [62]:
# intersection of 2 lists
a = [1,2,3,5,7,9]
b = [2,3,5,6,7,8]
print(list(filter(lambda x: x in a, b)))  # prints out [2, 3, 5, 7]

[2, 3, 5, 7]

### ‚ùì Mini Challenge

Considering the range of values below, use the function filter to return only negative numbers.

range(-5, 5)

Expected Output: [-5, -4, -3, -2, -1]

In [63]:
list(filter(lambda x: x < 0, range(-5,5)))

[-5, -4, -3, -2, -1]

### üìç reduce()

SYNTAX: reduce(function, iterables)

In [64]:
import math
reduce(lambda a,b: a+b,[23,21,45,98])

187

In [65]:
# behind the scenes
def my_add(a, b):
    result = a + b
    return result

numbers = [0, 1, 2, 3, 4]
reduce(my_add, numbers)

10

In [66]:
reduce(my_add, numbers, 100)

110

In [67]:
# using reduce to compute maximum element from list
print("The maximum element of the list is : ", end="")
print(reduce(lambda a, b: a if a > b else b, numbers))

The maximum element of the list is : 4

### üìç Combining map and filter

In [68]:
# Let's get the all numbers divisible by 3 between 1 and 20 and cube them

arbitrary_numbers = map(lambda num: num ** 3, list(filter(lambda num: num % 3 == 0, range(1, 21))))
print(list(arbitrary_numbers))

[27, 216, 729, 1728, 3375, 5832]

In [69]:
arbitrary_numbers = filter(lambda num: num % 3 == 0, list(map(lambda num: num ** 3, range(1, 21))))
print(list(arbitrary_numbers))

[27, 216, 729, 1728, 3375, 5832]

### ‚ùì Mini Challenge
Using map() and filter() functions add 2000 to the values below 8000.

numbers = [1000, 500, 600, 700, 5000, 90000, 17500]

In [70]:
numbers = [1000, 500, 600, 700, 5000, 90000, 17500]
list(map(lambda x: x+2000,list(filter(lambda x: x<8000, numbers))))

[3000, 2500, 2600, 2700, 7000]

## üëâ Common I/O Errors

**What is I/O Error?**

IOError means Input/Output error. It occurs when a file, file path, or OS operation we‚Äôre referencing does not exist. For example, if you are running a runtime operation on an existing file, and the file goes missing from the location, Python will throw an IOError.

**Types Of Errors in Python**

Compilers segment errors into different categories for better identification and solutions. Below are some of the most common error types that you‚Äôll encounter during your programming.

1. **ZeroDivisionError:** Occurs when we try to divide a number by zero.
2. **IndexError:** When accessing an index greater than the length of the list.
3. **Indentation Error:** Python is sensitive to spaces and indentation.
4. **ImportError/ModuleNotFoundError:** If we try to import a module and it does not exist, then this raises.
5. **IOError:** Raised when a file we are trying to access does not exist in the system.

In [71]:
# zero division error
try:
    11/0
except:
    print('Cannot divide by zero!')

Cannot divide by zero!

In [72]:
# list index error
lst = [10, 20, 30]
print(lst[3])

IndexError: list index out of range

In [77]:
# indentation error
for i in 'abc':
print(i)

IndentationError: expected an indented block (4288656226.py, line 3)

In [76]:
# import error
from math import sqrts

ImportError: cannot import name 'sqrts' from 'math' (/opt/anaconda3/lib/python3.9/lib-dynload/math.cpython-39-darwin.so)

In [ ]:
# file handling error
file = open('sample.txt', 'w')
print('The file name is: ', file.name)
print('Openeing mode: ', file.mode)

In [ ]:
file.close()
print('File is closed: ', file.closed)

In [ ]:
# delete and try accessing the file
file = open('sample.txt', 'r')

In [ ]:
# how to handle the error
try:
    file = open('sample.txt', 'w')
    print('File found!!!')
     
except IOError:
    print('File not found!!!')

***References:***

1. https://www.analyticsvidhya.com
2. https://www.askpython.com