# üìç<u>Agenda</u>

1. Data Structures:
    - Linear
    - Non-linear
    - Python specific
2. Examples
3. Primitive and non-primitive data structures
4. Lists
5. Tuples
6. Sets
7. Dictionary
8. Comparison
9. Functions

### üìö <u>List</u>

üëâ <b>Creating a list</b>

In [11]:
# lists
groceries = ['Tomato', 'Potato', 'Chilli', 'Onion']
print(groceries)

['Tomato', 'Potato', 'Chilli', 'Onion']

üëâ **Accessing list items**

In [12]:
# accessing elements of list
print(groceries[1])

Potato

üëâ **Adding items into a list**

In [13]:
# adding into lists
groceries.append('Cabbage')
print(groceries)

['Tomato', 'Potato', 'Chilli', 'Onion', 'Cabbage']

üëâ **Replacing list items**

In [14]:
# replacing elements in lists
groceries[2] = 'Garlic'
print(groceries)

['Tomato', 'Potato', 'Garlic', 'Onion', 'Cabbage']

üëâ **Looping a list**

In [15]:
# looping through lists
for i in groceries:
    print(i)

Tomato
Potato
Garlic
Onion
Cabbage

üëâ **List size**

In [16]:
# list size 
print(len(groceries))

5

üëâ **Adding a list elements to another list**

In [17]:
fruits = ['Apple', 'Grapes']

# adding a sublist
groceries.extend(fruits)  
print(groceries)

['Tomato', 'Potato', 'Garlic', 'Onion', 'Cabbage', 'Apple', 'Grapes']

üëâ **Deleting list elements**

In [18]:
groceries.pop()

'Grapes'

In [19]:
# delete the last element
del groceries[-1]       
print(groceries)

['Tomato', 'Potato', 'Garlic', 'Onion', 'Cabbage']

üëâ **Deleting List**

In [ ]:
# delete the list
del groceries           
print(groceries)

üëâ **Creating lists using range()**

In [20]:
My_list = [range(10, 20, 1)]
  
# Print the list
print(My_list)

[range(10, 20)]

üëâ **Copying one list to another**

In [ ]:
lis1 = [ 1, 2, 3, 4 ]
 
# Using copy() to create a shallow copy
lis2 = lis1.copy()
 
# Printing new list
print ("The new list created is : " + str(lis2))
 
# Adding new element to new list
lis2.append(5)
 
# Printing lists after adding new element
# No change in old list
print ("The new list after adding new element : \
" + str(lis2))
print ("The old list after adding new element to new list  : \
" + str(lis1))

### üí£ Challenge

Write a program to remove empty lists from a list.

Input: [5, 6, [], 3, [], [], 9]

Output: [5, 6, 3, 9]

In [1]:
list1 = [5, 6, [], 3, [], [], 9]
result = []
for i in list1:
    if i != []:
        result.append(i)
result

[5, 6, 3, 9]

## üìö <u>Tuple</u>

üëâ **Creating tuples**

In [21]:
tpl=() # empty tuple
print(tpl)

names = ('Jeff', 'Bill', 'Steve', 'Yash') # string tuple
print(names)

nums = (1, 2, 3, 4, 5) # int tuple
print(nums)

employee=(1, 'Steve', True, 25, 12000)  # heterogeneous data tuple
print(employee)

()
('Jeff', 'Bill', 'Steve', 'Yash')
(1, 2, 3, 4, 5)
(1, 'Steve', True, 25, 12000)

In [22]:
# without enclosing within brackets
names = 'Jeff', 'Bill', 'Steve', 'Yash' # string tuple
print(names)

nums = 1, 2, 3, 4, 5 # int tuple
print(nums)

employee=1, 'Steve', True, 25, 12000  # heterogeneous data tuple
print(employee)

('Jeff', 'Bill', 'Steve', 'Yash')
(1, 2, 3, 4, 5)
(1, 'Steve', True, 25, 12000)

üëâ **Access Tuple Elements**

In [ ]:
names = ('Jeff', 'Bill', 'Steve', 'Yash') 
print(names[0])
print(names[3]) 

nums = (1, 2, 3, 4, 5) 
print(nums[0])

# negative index

# index out of range error

üëâ **Modify tuple elements**

In [23]:
# modifying tuple elements
names = ('Jeff', 'Bill', 'Steve', 'Yash') 
names[0] = 'Swati'

TypeError: 'tuple' object does not support item assignment

In [24]:
del names[0]

TypeError: 'tuple' object doesn't support item deletion

üëâ **Lists within tuples**

üëâ **Typecast**

In [26]:
# typecast tuple to list
list(names)

['Jeff', 'Bill', 'Steve', 'Yash']

### üí£ Challenge

Write a program to reverse a tuple

Input: (10, 20, 30, 40, 50)

Output: (50, 40, 30, 20, 10)

In [2]:
tup = (10, 20, 30, 40, 50)
def rev(tup):
    tup = tup[::-1]
    return tup

result = rev(tup)
result

(50, 40, 30, 20, 10)

## üìö <u>Sets</u>

**Creating a set**

In [28]:
# using curly braces
Days = {"Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"}    
print(Days)    
print(type(Days))    
print("looping through the set elements ... ")    
for i in Days:    
    print(i)

{'Tuesday', 'Thursday', 'Monday', 'Friday', 'Sunday', 'Saturday', 'Wednesday'}
<class 'set'>
looping through the set elements ...
Tuesday
Thursday
Monday
Friday
Sunday
Saturday
Wednesday

In [1]:
# using set() method
Days = set(["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"])    
print(Days)    
print(type(Days))    
print("looping through the set elements ... ")    
for i in Days:    
    print(i)

{'Monday', 'Saturday', 'Friday', 'Sunday', 'Thursday', 'Wednesday', 'Tuesday'}
<class 'set'>
looping through the set elements ...
Monday
Saturday
Friday
Sunday
Thursday
Wednesday
Tuesday

**Adding items to the set**

In [ ]:
# Using add() method
Months = set(["January","February", "March", "April", "May", "June"])
print(months)
Months.add("July");    
Months.add ("August");    
print("\nPrinting the modified set...");    
print(Months)    
print("\nlooping through the set elements ... ")    
for i in Months:    
    print(i)

In [ ]:
# Using update() function
Months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(Months)    
print("\nupdating the original set ... ")    
Months.update(["July","August","September","October"]);    
print("\nprinting the modified set ... ")     
print(Months);

**Removing items from the set**

In [ ]:
# Using discard() method
months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(months)    
print("\nRemoving some months from the set...");    
months.discard("January");    
months.discard("May");    
print("\nPrinting the modified set...");    
print(months)    
print("\nlooping through the set elements ... ")    
for i in months:    
    print(i)

In [ ]:
# Using remove() function
months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(months)    
print("\nRemoving some months from the set...");    
months.remove("January");    
months.remove("May");    
print("\nPrinting the modified set...");    
print(months)

**Set Operations**

In [29]:
# Union of two Sets
Days1 = {"Monday","Tuesday","Wednesday","Thursday", "Sunday"}    
Days2 = {"Friday","Saturday","Sunday"}    
print(Days1|Days2)

{'Tuesday', 'Thursday', 'Monday', 'Sunday', 'Friday', 'Saturday', 'Wednesday'}

In [30]:
#Intersection of two sets
Days1 = {"Monday","Tuesday", "Wednesday", "Thursday"}    
Days2 = {"Monday","Tuesday","Sunday", "Friday"}    
print(Days1&Days2)

{'Tuesday', 'Monday'}

In [ ]:
# Difference between the two sets
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}    
Days2 = {"Monday", "Tuesday", "Sunday"}    
print(Days1-Days2)

### üí£ Challenge

Check if two lists have at-least one element common

Input : 
a = [1, 2, 3, 4, 5]

b = [5, 6, 7, 8, 9]
  
Output : True

Input : 

a=[1, 2, 3, 4, 5]

b=[6, 7, 8, 9]

Output : False

In [8]:
def common_member(a, b):
    if (set(a) & set(b)):
        return True 
    else:
        return False
          
a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
print(common_member(a, b))
  
a =[1, 2, 3, 4, 5]
b =[6, 7, 8, 9]
print(common_member(a, b))

True
False

## üìö <u>Dictionary</u>

üëâ **Creating Dictionary**

In [4]:
# dictionary
groceries = {'Tomato': 5, 'Potato': 3, 'Chilli': 10, 'Onion': 7}
print(groceries)

{'Tomato': 5, 'Potato': 3, 'Chilli': 10, 'Onion': 7}

üëâ **Accessing dictionary values**

In [5]:
# accessing values for specific keys
print(groceries['Tomato'])

5

üëâ **Adding items to dictionary**

In [6]:
# adding items into dictionary
groceries['Cabbage'] = 1
print(groceries)

{'Tomato': 5, 'Potato': 3, 'Chilli': 10, 'Onion': 7, 'Cabbage': 1}

üëâ **Replacing dictionary values**

In [7]:
# replace value of a specific key
groceries.update({'Potato': 2})
print(groceries)

{'Tomato': 5, 'Potato': 2, 'Chilli': 10, 'Onion': 7, 'Cabbage': 1}

üëâ **Dictionary length**

In [8]:
# count number of items in the dictionary
print(len(groceries))

5

üëâ **Looping dictionary**

In [10]:
# looping through dictionary items
for key, value in groceries.items():
    print(key, value)
    
for val in groceries.values():
    print(val)
    
for key in groceries.keys():
    print(key)
    
# retrieve list of items, keys and values
print(groceries.items())
print(groceries.keys())
print(groceries.values())

Tomato 5
Potato 2
Chilli 10
Onion 7
Cabbage 1
5
2
10
7
1
Tomato
Potato
Chilli
Onion
Cabbage
dict_items([('Tomato', 5), ('Potato', 2), ('Chilli', 10), ('Onion', 7), ('Cabbage', 1)])
dict_keys(['Tomato', 'Potato', 'Chilli', 'Onion', 'Cabbage'])
dict_values([5, 2, 10, 7, 1])

### üí£ Challenge

Write a program to find the sum of all items in a dictionary.

Input : {‚Äòa‚Äô: 100, ‚Äòb‚Äô:200, ‚Äòc‚Äô:300}

Output : 600

Input : {‚Äòx‚Äô: 25, ‚Äòy‚Äô:18, ‚Äòz‚Äô:45}

Output : 88

## üìö <u>Functions<u>

In [31]:
# defining and calling functions
def hello_world():
    print('Hello World')
    
print(hello_world())

Hello World
None

### Types of Arguments:
1. Required arguments
2. Variable-length arguments
3. Keyword arguments
4. Default arguments

***Required arguments***

In [ ]:
# Required arguments
def hello(name, age, contact):
    return 'Hello'

greet = hello('John', 15, 8907)
print(greet)

In [ ]:
# Multiple required arguments
def greet(time_of_day, name):
    return f'Good {time_of_day}, {name}!'

greeting = greet('Morning', 'John')
print(greeting)

***Variable-length arguments***

In [ ]:
def hello(*names):
    print("Hello")
    list1 = []
    for name in names:
        print(name)
        return name
    print('still inside the function')
    
hello("Anna", "Sara", 'John')

***Keyword arguments***

In [ ]:
# Keyword arguments
def hello(**name):
    print("Hello", name['fname'], name['lname'])

hello(fname="Anne", lname="Sullivan")
hello(lname="Pichai", fname="Sundar")
hello(fname="Narendra", mname="Damodar", lname="Modi")
#hello(fname="Bill")

***Default arguments***

In [ ]:
def hello (name="John"):
    print("Hello", name)
hello()
hello("Mary")

### üí£ Challenge

Take a integers of variable length and return their sum.

input: 12, 24, 3, 5

input: 3, 4