# Agenda

1. Recap of important topics
2. MCQs
3. Exercises
4. Doubts clearing session

In [1]:
# set comprehension
new_set = {i for i in range(1, 10)}
print(new_set)
print(type(new_set))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>

In [4]:
# tuple comprehension
tup = tuple(i for i in range(1, 10))
print(type(tup))
print(tup)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
# github link to materials
https://github.com/pranalibose/Tutorials

## <u>MCQs</u>

### üìç What will be the output of the following Python code?   3Ô∏è‚É£           

<code>import functools</code><p>
<code>l=[1,2,3,4]</code><p>
<code>print(functools.reduce(lambda x,y:x*y,l))</code>
    
a) Error
    
b) 10
    
c) 24
    
d) No output

In [85]:
# c: 24

### üìç What will be the output of  3Ô∏è‚É£
<code>print([i+j for i in "abc" for j in "def"])</code>

a) [‚Äòda‚Äô, ‚Äòea‚Äô, ‚Äòfa‚Äô, ‚Äòdb‚Äô, ‚Äòeb‚Äô, ‚Äòfb‚Äô, ‚Äòdc‚Äô, ‚Äòec‚Äô, ‚Äòfc‚Äô]

b) [[‚Äòad‚Äô, ‚Äòbd‚Äô, ‚Äòcd‚Äô], [‚Äòae‚Äô, ‚Äòbe‚Äô, ‚Äòce‚Äô], [‚Äòaf‚Äô, ‚Äòbf‚Äô, ‚Äòcf‚Äô]]

c) [[‚Äòda‚Äô, ‚Äòdb‚Äô, ‚Äòdc‚Äô], [‚Äòea‚Äô, ‚Äòeb‚Äô, ‚Äòec‚Äô], [‚Äòfa‚Äô, ‚Äòfb‚Äô, ‚Äòfc‚Äô]]

d) [‚Äòad‚Äô, ‚Äòae‚Äô, ‚Äòaf‚Äô, ‚Äòbd‚Äô, ‚Äòbe‚Äô, ‚Äòbf‚Äô, ‚Äòcd‚Äô, ‚Äòce‚Äô, ‚Äòcf‚Äô]

In [ ]:
# d: [‚Äòad‚Äô, ‚Äòae‚Äô, ‚Äòaf‚Äô, ‚Äòbd‚Äô, ‚Äòbe‚Äô, ‚Äòbf‚Äô, ‚Äòcd‚Äô, ‚Äòce‚Äô, ‚Äòcf‚Äô]

### üìç What will be the output of 3Ô∏è‚É£
<code>print([[i+j for i in "abc"] for j in "def"])</code>

a) [‚Äòda‚Äô, ‚Äòea‚Äô, ‚Äòfa‚Äô, ‚Äòdb‚Äô, ‚Äòeb‚Äô, ‚Äòfb‚Äô, ‚Äòdc‚Äô, ‚Äòec‚Äô, ‚Äòfc‚Äô]

b) [[‚Äòad‚Äô, ‚Äòbd‚Äô, ‚Äòcd‚Äô], [‚Äòae‚Äô, ‚Äòbe‚Äô, ‚Äòce‚Äô], [‚Äòaf‚Äô, ‚Äòbf‚Äô, ‚Äòcf‚Äô]]

c) [[‚Äòda‚Äô, ‚Äòdb‚Äô, ‚Äòdc‚Äô], [‚Äòea‚Äô, ‚Äòeb‚Äô, ‚Äòec‚Äô], [‚Äòfa‚Äô, ‚Äòfb‚Äô, ‚Äòfc‚Äô]]

d) [‚Äòad‚Äô, ‚Äòae‚Äô, ‚Äòaf‚Äô, ‚Äòbd‚Äô, ‚Äòbe‚Äô, ‚Äòbf‚Äô, ‚Äòcd‚Äô, ‚Äòce‚Äô, ‚Äòcf‚Äô]

In [86]:
# b: [[‚Äòad‚Äô, ‚Äòbd‚Äô, ‚Äòcd‚Äô], [‚Äòae‚Äô, ‚Äòbe‚Äô, ‚Äòce‚Äô], [‚Äòaf‚Äô, ‚Äòbf‚Äô, ‚Äòcf‚Äô]]

### üìç Which of the following is the same as   3Ô∏è‚É£
<code>list(map(lambda x: x**-1, [1, 2, 3]))?</code>

a) [x**-1 for x in [(1, 2, 3)]]

b) [1/x for x in [(1, 2, 3)]]

c) [1/x for x in (1, 2, 3)]

d) error

In [87]:
# c: [1/x for x in (1, 2, 3)]

### üìç What will be the output  3Ô∏è‚É£
<code>f=lambda x:bool(x%2)</code>

<code>print(f(20), f(21))</code>

a) False True

b) False False

c) True True

d) True False

In [88]:
# a: False True

# <u>Exercises</u>

### ‚ùì Write a function that counts vowels and consonants in a word 5Ô∏è‚É£
word = physics

output:

vowels: 1

consonents: 6

In [27]:
variable = input('Enter a word: ')
def count(word):
    vowels = 0
    consonents = 0
#     list_vowels = ['a', 'e', 'i', 'o', 'u']
    for i in word:
        if i.lower() in 'aeiou':
            vowels += 1
        else:
            consonents += 1
    return vowels, consonents


v, c = count(variable)
print('No. of vowels: ', v)
print('No. of consonents: ', c)

Enter a word: maths
No. of vowels:  1
No. of consonents:  4

### ‚ùì Using the filter function, find the values that are common to the two lists below 5Ô∏è‚É£

a = [11,23,13,15,79,97]
b = [23,13,15,6,97,81]

In [28]:
a = [11,23,13,15,79,97] 
b = [23,13,15,6,97,81]

result = list(filter(lambda x: x in a, b))
result

[23, 13, 15, 97]

### ‚ùì Create a function named calculate_product that receives an arbitary argument list and returns the product of all the arguments, Call the function with the arguments 10, 20 and 30 and then with the arguments 5, 15, 20, 8, 50  5Ô∏è‚É£

In [31]:
def calculate_product(*args):
    prdt = 1
    for i in args:
        prdt *= i
    return prdt

calculate_product(10, 20, 30, 5, 0)

0

### ‚ùì Create a list of 3 elements and calculate the third potency of each element using a list comprehension  5Ô∏è‚É£

numbers = [2, 8, 5]

output = [8, 512, 125]

In [32]:
numbers = [2, 8, 5]
result = [i**3 for i in numbers]
result

[8, 512, 125]

### ‚ùì Write a program to generate the below result, using the map () function 5Ô∏è‚É£
words = 'Data Science Academy offers the best data analysis courses in Brazil'

output:

['DATA', 'data', 4]

['SCIENCE', 'science', 7]

['ACADEMY', 'academy', 7]

['OFFERS', 'offers', 6]

['THE', 'the', 3]

['BEST', 'best', 4]

['DATA', 'data', 4]

['ANALYSIS', 'analysis', 8]

['COURSES', 'courses', 7]

['IN', 'in', 2]

['BRAZIL', 'brazil', 6]

In [36]:
sentence = 'Data Science Academy offers the best data analysis courses in Brazil'
def func(word):
    return [word.upper(), word.lower(), len(word)]
    
result = map(func, sentence.split())

for i in result:
    print(i)

['DATA', 'data', 4]
['SCIENCE', 'science', 7]
['ACADEMY', 'academy', 7]
['OFFERS', 'offers', 6]
['THE', 'the', 3]
['BEST', 'best', 4]
['DATA', 'data', 4]
['ANALYSIS', 'analysis', 8]
['COURSES', 'courses', 7]
['IN', 'in', 2]
['BRAZIL', 'brazil', 6]

### ‚ùì Use a dictionary comprehension to count the length of each word in a sentence  5Ô∏è‚É£
string = "Practice Problems to Drill List Comprehension in Your Head"

Output:
{
'Practice': 8,
'Problems': 8,
'to': 2,
'Drill': 5,
'List': 4,
'Comprehension': 13
'in': 2,
'Your': 4,
'Head': 4
}

In [41]:
string = "Practice Problems to Drill List Comprehension in Your Head"
result = {k: len(k) for k in string.split()}
result

{'Practice': 8,
 'Problems': 8,
 'to': 2,
 'Drill': 5,
 'List': 4,
 'Comprehension': 13,
 'in': 2,
 'Your': 4,
 'Head': 4}

### ‚ùì Use a nested list comprehension to find all of the numbers from 1‚Äì100 that are divisible by any single digit besides 1 i.e. (2‚Äì9)  5Ô∏è‚É£

In [91]:
L1={i for j in range(2,10) for i in range(1,101) if i%j==0}
len(list(L1))

78

### ‚ùì Print the prime numbers within a range, say 10-100 5Ô∏è‚É£
1. With normal function
2. Using list comprehension

In [92]:
def primes(start, stop):
    result = []
    for i in range(start, stop+1):
        flag = 0
        for j in range(2, int(i/2)+1):
            if i%j == 0:
                flag = 1
                break
        if flag != 1:
            result.append(i)
    return result
    
primes(10, 101)

[11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 101]

In [94]:
result = [num for num in range(10, 101) if 0 not in [num%divisor for divisor in range(2, int(num/2)+1)]]
result

[11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

### ‚ùì From the list of employee dictionaries, perform the below tasks: üîü

1. Separate the developers from the non-developers using filter()
2. Transfer the above resultant list to get just the employer's salaries
3. Calculate average of values of developer salaries using reduce()

Perform the above tasks:
1. with normal functions
2. Using lambda functions

In [68]:
employees = [{
    'name': 'Jane',
    'salary': 9000,
    'job_title': 'developer'
    },
    {
    'name': 'Bill',
    'salary': 6000,
    'job_title': 'writer'
    },
    {
    'name': 'Anna',
    'salary': 10000,
    'job_title': 'executive'
    },
    {
    'name': 'Jack',
    'salary': 8000,
    'job_title': 'developer'
    },
    {
    'name': 'Danny',
    'salary': 11000,
    'job_title': 'developer'
    },
    {
    'name': 'Mary',
    'salary': 7000,
    'job_title': 'marketing specialist'
    }
]

In [84]:
employees[0]['name']

'Jane'

In [69]:
# separate developers from non-developers
def is_developer(employee):
    return employee['job_title'] == 'developer'

developers = list(filter(is_developer, employees))
developers

[{'name': 'Jane', 'salary': 9000, 'job_title': 'developer'},
 {'name': 'Jack', 'salary': 8000, 'job_title': 'developer'},
 {'name': 'Danny', 'salary': 11000, 'job_title': 'developer'}]

In [71]:
# list comprehension
developers = list(filter(lambda employee: employee['job_title']=='developer', employees))
developers

[{'name': 'Jane', 'salary': 9000, 'job_title': 'developer'},
 {'name': 'Jack', 'salary': 8000, 'job_title': 'developer'},
 {'name': 'Danny', 'salary': 11000, 'job_title': 'developer'}]

In [76]:
# using lambda
def get_salary(employee):
    return employee['salary']

dev_salaries = list(map(get_salary, developers))
dev_salaries

[9000, 8000, 11000]

In [77]:
# using lambda
dev_salaries = list(map(lambda employee: employee['salary'], developers))
dev_salaries

[9000, 8000, 11000]

In [82]:
# calculate avergare salary of the developers
from functools import reduce

def add(a,b):
    return a+b

total = reduce(add, dev_salaries)
average = total/len(dev_salaries)
average

9333.333333333334

In [83]:
# using lambda
total = reduce(lambda a,b: a+b, dev_salaries)
total/len(dev_salaries)

9333.333333333334

### üìö Perform the above steps for non-developers using list comprehension

### üìö Create two functions, one to elevate a number to square and the second to elevate to cube. Run both functions to the elements at the same time.

input: numbers = [0, 1, 2, 3, 4]

output: [[0, 0], [1, 1], [4, 8], [9, 27], [16, 64]]