# Basics of Python

## 1. <u>Fundamentals</u>
   1. **Variables** – Storage units.
   2. **Strings** – Texts or numbers or any other character enclosed within single or double quotes.
   3. **Numbers** – Integers or floats and the basic operations.
   4. **Booleans** – True or False values.

**What is a variable in Python?**

When you develop a program, you need to manage values, a lot of them. To store values, you use variables.
<p>In Python, a variable is a label that you can assign a value to it. And a variable is always associated with a value.
    
Rules for Python variables:

1. A variable name must start with a letter or the underscore character
2. A variable name cannot start with a number
3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
4. Variable names are case-sensitive (age, Age and AGE are three different variables)
    
    
# Shift+Enter to execute the cell

In [ ]:
# let's start with printing 'hello world!'
message = 'Hello, World!'
print(message)

message = 'Good Bye!'
print(message)

novalue = 'some value'
print(novalue)

In [ ]:
# creating variables
# variable_name = value

counter = 1
session_name = "session on python"

**Strings**

A string is a series of characters. In Python, anything inside quotes is a string. And you can use either single or double quotes.

In [ ]:
# different ways of printing strings
message = 'This is a string in Python'
message = "This is also a string"

message = "It's a string"
print(message)

message = '"Beautiful is better than ugly.". Said Tim Peters'

message = 'It\'s also a valid string'
print(message)

In [ ]:
# creating multiline string
help_message = '''
Usage: mysql command
    -h hostname     
    -d database name
    -u username
    -p password 
'''

print(help_message)

In [ ]:
# f-strings
name = 'Tom'
message = f'Hi {name}'
print(message)

today = 'Monday'
tomorrow = 'Wednesday'

print(f'Happy {today}, Tomorrow is {tomorrow}')

***Mini Challange:***
Print today's date and current weather in the below format:

'Today is {month} {day}, {year} and currently it is {temperature} Celcius'

In [ ]:
# answer
month='June'
day='26'
year='2022'
temperature=23

print(f'Today is {month} {day}, {year} and currently it is {temperature} Celcius')

In [ ]:
# concatenating strings

greeting = 'Good ' 'Morning!'
print(greeting)

In [ ]:
greeting = 'Good '
time = 'Afternoon'

greeting = greeting + time + '!'
print(greeting)

number = 5
string = 'I am'

print(string + ' ' + str(number))

print(type(number))

***Mini Challange:***

Take two variables, first name and last name and concatenate them into another variable, full name. Print the below:

'I am {full name}'

In [ ]:
# accessing string elements
string = "Python String"
print(string[0])   #P
print(string[1])   #y

string = "Python String"
print(string[-1])  #g
print(string[-2])  #n

# string slicing and index error
x = "hello world"
s = x[2:]
print(s)
s = x[:3]
print(s)

print(x[20])

In [ ]:
# Reverse a string

string = "sunday"
reverse_string = string[::-1]

print(string)
print(reverse_string)

In [ ]:
# getting length of string
str = "Python String"
str_len = len(str)
print(str_len)

In [ ]:
# string slicing
str = "Python String"
print(str[0:2])

***Mini Challange:***

Check whether the string 'madam' is a palindrome or not

In [ ]:
#1. define a variable and assign the value 'madam' to it
#2. take another variable and store the reverse of the value 'madam'
#3. check whether both the variables are equal or not

string = 'madam'
reverse_string = string[::-1]
if string == reverse_string:
    print('Pallindrome')
else:
    print('Not pallindrome')

In [ ]:
# python strings are immutable
string = "Python String"
string[0] = 'J'

In [ ]:
# create new string to modify an existing one
string = "Python String"
new_str = 'J' + string[1:]
print(new_str)

### String Methods

| ***Method***            ||   ***Description***|
| :---:            ||   :---:|
| **capitalize()** ||	Converts the first character to upper case |
| **count()**      ||	Returns the number of times a specified value occurs in a string |
| **index()**      ||	Searches the string for a specified value and returns the position of where it was found |
| **join()**       ||	Joins the elements of an iterable to the end of the string | 
| **lower()**      ||	Converts a string into lower case |
| **lstrip()**     ||	Returns a left trim version of the string |
| **replace()**    ||	Returns a string where a specified value is replaced with a specified value |
| **rstrip()**     ||	Returns a right trim version of the string |
| **split()**      ||	Splits the string at the specified separator, and returns a list |
| **upper()**      ||	Converts a string into upper case |

In [ ]:
# capitalize
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

***Mini Challange :***

Find a method to convert first letter of each word in a string to capital letter

In [ ]:
# count
txt = "I love apples, apples are my favorite fruit"

x = txt.count("I ")

print(x)

In [ ]:
# index
txt = "Hello, welcome to my world."

x = txt.index("Hello")

print(x)

In [ ]:
# join
myTuple = ("John", "Peter", "Vicky")

#'separator.join(myTuple)'
x = ''.join(myTuple)

print(x)
print(type(x))

In [ ]:
# upper and lower
txt = "Hello my FRIENDS"

x = txt.lower()
y = txt.upper()

print(x)
print(y)

In [ ]:
# lstrip and rstrip
txt = "     banana     "

x = txt.lstrip()
y = txt.rstrip()

print("of all fruits", x, "is my favorite")
print("of all fruits", y, "is my favorite")

txt = ",,,,,ssaaww.....banana"

x = txt.lstrip(",s")

print(x)

In [ ]:
# replace
txt = "I like bananas"

print(txt)

x = txt.replace("bananas", "apples")

print(x)

In [ ]:
# split
txt = "hello, my name is Peter, I am 26 years old"

x = txt.split(", ")

print(x)

***Mini Challenge:***

Take a string: 'Hello, today, is, my, birthday     '

Perform the below
1. Split the string on ',' and print it.
2. Remove trailing spaces
3. Change the first letter of each word into capital letter

**Numbers**

Python supports integers, floats, and complex numbers. Here, we will discusses only integers and floats.

In [ ]:
# integers
print(20 + 10)
print(20 - 10)
print(20 * 10)
print(20 // 10)

print(3**3)

print(20 / (10 + 10))

In [ ]:
# float
print(2.5 + 0.4)
print(2.5 - 0.4)
print(2.5 * 0.4)
print(2.5 / 0.4)

print(2.5 ** 2)

***Mini Challenge:***

Check whether 38 is an even number.

**Boolean**

In programming, you often want to check if a condition is true or not and perform some actions based on the result.

To represent true and false, Python provides you with the boolean data type. The boolean value has a technical name as bool.

The boolean data type has two values: True and False.

Note: The boolean values True and False start with the capital letters (T) and (F).

In [ ]:
is_active = True
is_admin = False

print(type(is_active))

In [ ]:
print(is_active or is_admin)

In [ ]:
num1 = 24
num2 = 24
print(num1 == num2)
if num1 == num2:
    print('Is Active!')

## 2. <u>Control flow</u>
   1. **if…else statement** – learn how to execute a code block based on a condition.
   3. **for loop** – show you how to execute a code block for a fixed number of times by using the for loop with range() function.

In [ ]:
# if else 
age = input('Enter your age:')
if int(age) >= 18 and int(age)<=60:
    print("You're eligible to vote.")
elif int(age)>60:
    print("Senior citizens not allowed.")
else:
    print('You are not eligible to vote.')

In [ ]:
number = input('Enter you number: ')
num = int(number)
print(type(number))
print(type(num))

***Mini Challenge:***

Take user input of marks and print whether the student passed or failed.
If marks less than 40, student fails.

In [ ]:
marks = int(input("Enter marks: "))
if marks>=40:
    print("Pass")
else:
    print("Fail")

In [ ]:
# for loops
for number in range(10, 21, 3):
    print(number)

## 3. <u>Other important concepts (in brief):</u>

1. Random Numbers
2. Lists
3. Dictionaries
4. User Inputs

In [ ]:
# Random Numbers
import random

a = random.randint(2, 6)

print(a)

In [ ]:
# lists
groceries = ['Tomato', 'Potato', 'Chilli', 'Onion']
print(groceries)

# accessing elements of list
print(groceries[1])     

# adding into lists
groceries.append('Cabbage')
print(groceries)       

# replacing elements in lists
groceries[2] = 'Garlic'
print(groceries)       

# looping through lists
for i in groceries:
    print(i)        
    
# list size 
print(len(groceries))  

fruits = ['Apple', 'Grapes']

# adding a sublist
groceries.extend(fruits)  
print(groceries)

# delete the last element
del groceries[-1]       
print(groceries)

# delete the list
del groceries           
print(groceries)

In [ ]:
# dictionary
groceries = {'Tomato': 5, 'Potato': 3, 'Chilli': 10, 'Onion': 7}
print(groceries)

# accessing values for specific keys
print(groceries['Tomato'])

# adding items into dictionary
groceries['Cabbage'] = 1

# replace value of a specific key
groceries.update({'Potato': 2})
print(groceries)

# count number of items in the dictionary
print(len(groceries))

# looping through dictionary items
for key, value in groceries.items():
    print(key, value)
    
# retrieve list of items, keys and values
print(groceries.items())
print(groceries.keys())
print(groceries.values())

In [ ]:
# User inputs
name = input()
print(name)
type(name)

# <u>Hands-on Practice Questions</u>

### 1. 'I Am Out' Game

Write a program that takes user input in a variable (***limit***) and converts it into an integer. Display all the numbers from 1-***limit*** with the below conditions:

Replace the even numbers with the text: "I am ***number*** and I am out!"

Also, check the user input. If the user input is not between 1-20, print "Not a valid value!"

For example, user enters 6:

Output:

1
I am 2 and I am out!
3
I am 4 and I am out!
5
I am 6 and I am out!

Concepts to use:
1. Strings
2. Numbers
3. if..else
4. for loop
5. User input

### 2. Fun Days

Create a list of weekdays (***days***) from Monday-Sunday and loop through the list. 

For each day, display the below text:
"***day*** (all capital) is fun!"

For example,

MONDAY is fun!

Concepts used:
1. strings
2. loops
3. lists

### 3. Fortune Number Generator

Write a program to randomly generate a number (***lucky_number***) between 1-50 and display it to user based on another randomly generated number (***fortune_teller***) between 1-3. Consider the below conditions:
1. if ***fortune_teller*** is 1 display:
    "Today is an amazing day! Your lucky number is ***lucky_number***."
    
2. if ***fortune_teller*** is 2 display:
    "Today is going to be a tough day! Your lucky number is ***lucky_number***."
    
3. if ***fortune_teller*** is 3 display:
    "Voila! Some good news is awaiting in ***current_month***! Your lucky number is ***lucky_number***."
    
Use the concepts lerant so far:
1. Strings
2. if..else
3. Random numbers
4. Modules

### 4. Paragraph Analyzer

Write a program to count number of occurrances of each word in the multi line string.

Example String: 

Our environment is nature’s most precious and vital gift, which needs to be handled with utmost care. It is the natural ecological system where we live, depending on each other for survival. The environment is divided into physical and biological components. The atmosphere, lithosphere and hydrosphere constitute the physical category, and the biological category comprises human beings and other living beings. In simple terms, the environment is defined as the combination and interrelation between all biotic and abiotic components. The ecosystem of our environment needs to be maintained in a proper balance, and if any part of it is disturbed, the whole ecosystem gets affected.

Concepts to be used:
1. Strings
2. Dictionaries
3. Loops

### 5. Trip Planner

Consider the below dictionary of names and the respective ages of the travellers.

{23: 'Male', 12: 'Male', 15: 'Female', 6: 'Female, 45: 'Male', 39: 'Female'}

Calculate the travel cost of each of the travellers and store it in a list. There are two fares to consider - ***shopping*** and ***airfare***.

1. shopping cost of the females are double their age whereas for the males it is 10 more than their age.
2. air fare depends on the below condition:
    - for females: 
        - if age is less than or equal to 10 and shopping cost is less than 20, air fare is 100 times the shopping cost
        - if age is more than 10 but less than 30 and shopping cost is less than 30, air fare is 200 times the shopping cost
        - if age is more than 30, air fare is 500 times the shopping cost
    - for males: 
        - if age is less than or equal to 10 and shopping cost is less than 20, air fare is 50 times the shopping cost
        - if age is more than 10 but less than 30 and shopping cost is less than 30, air fare is 100 times the shopping cost
        - if age is more than 30, air fare is 200 times the shopping cost

Concepts covered:
1. Numbers 
2. Operations
3. Dictionaries
4. Lists
5. if..else
6. for loop

### 6. Print Pi

Write a python program to print the value of pi based on the below infinite series (consider upto 15 terms):

pi = 3 + 4/(2x3x4) - 4/(4x5x6) + 4/(6x7x8) - 4/(8x9x10) + ....

Concepts covered:
1. Numbers
2. Operations
3. if..else
4. loops

## <u>Jupyter Notebook Themes</u>

1. Install the jupyter themes package
***pip install jupyterthemes***

2. To see all the available themes
***jt -l***

3. To change to a particular theme
***jt -t theme-name***

Restart your notebook to see the changes.

4. To revert the changes,
***jt -r***

In [ ]:
pip install jupyterthemes

In [ ]:
!jt -l

In [ ]:
!jt -t chesterish

In [ ]:
!jt -r