## üìç <u>Agenda</u>
The session is divided into the following parts:

1. Pandas Basics with Examples
    1. Data Structures in Pandas
    1. Creating dataframes from lists and dictionaries
    1. Reading datasets
    1. Setting index column
    1. Inplace
    1. Examining dataframes
    1. Statistical Summary

2. Pandas - Advance Concepts
    1. Slicing rows using bracket operators
    1. Filter
    1. Sort values
    1. Concat, Merge, Append
    1. Apply
    1. Drop duplicates
    1. groupby()
    1. Missing values

2. Demonstration and hands-on exercise

3. Q/A session

### Learning Objectives
The objective is to provide hands-on experience in manipulating data frames and handling unclean data through a dataset by bringing together all the concepts learnt in the module.

### Pre-requisites
Familiarity with Python and some knowledge on numpy and pandas

## üìö Pandas Basics

### üëâ Data Structures in Pandas
1. Dataframe, which is two-dimensional
2. Series, which is one-dimensional

### üëâ Creating DataFrames

####  üå± using lists
    - We can create a dataframe using lists
    - We pass the list as an argument to the pandas.DataFrame() function which returns a dataframe
    - Pandas automatically assigns numerical row labels to each row of the dataframe
    - By default, pandas also assign numerical column labels to each column if not specified.

In [ ]:
import pandas as pd

In [ ]:
# dataframes from lists
myList = [['Apple', 'Red'], ['Banana', 'Yellow'], ['Orange', 'Orange']]

In [ ]:
# custom column names

In [ ]:
import numpy as np

In [ ]:
# Dataframes from numpy arrays
myList = np.array([[0,1], [2,3], [4,5]])
myList

####  üå± using dictionary
    - We can also pass a dictionary to pandas.DataFrame() function to create a dataframe
    - Each key of the array should have a list of one or more values associated with it
    - The keys of the dictionary become column labels
    - Pandas automatically assigns numerical row labels to each of the dataframe

In [ ]:
myDictionary = {'Fruit':['Apple', 'Banana', 'Orange'], 'Color': ['Red', 'Yellow', 'Orange']}

### üí£ Challenge
Create a dataframe of countries and their capitals (India, USA, France, Germany, Australia)
   - using lists
   - using dictionary

### üëâ Loading csv file as a Dataframe
    - We can also load a csv file as a dataframe in pandas using pandas.read_csv() function
    - Each value of the first row of the csv file becomes the column label
    - Pandas automatically assigns numerical row labels to each row of the dataframe

In [ ]:
# loading csv file
df = pd.read_csv('BB.csv')
df

### üëâ Changing index column

In [ ]:
# changing the index column using set_index()

### üëâ inplace

In [ ]:
# inplace

### üëâ Examining dataframe

In [ ]:
# examining the dataframe - head and tail

In [ ]:
# shape

In [ ]:
# value counts

In [ ]:
# unique

In [ ]:
# info

### üëâ Statistical summary

In [ ]:
# statistical summary of the dataframe

## üìö Pandas Advance

### üëâ Slicing

In [ ]:
# Row slicing

In [ ]:
# Indexing columns

In [ ]:
# combining row and column slicing

### üëâ Filtering

In [ ]:
# get the products whose rating is 4 or more

#### üå± combining multiple filter conditions

In [ ]:
# get the products of beauty and hygine category with rating more than 4

#### üå± filtering using loc

In [ ]:
# indexing
df.loc[1, 'product']

In [ ]:
# extracting dataframe
df.loc[[1], ['product']]

In [ ]:
# slicing
df.loc[1:5, 'product': 'type']

In [ ]:
# indexing rows and slicing columns
# df.loc[[3,6], 'category':'sale_price']

In [ ]:
# adding rows using loc
df.loc[11] = ['product', 2, 3, 4, 5, 6, 7, 8, 9]
df.loc[[11]]

In [ ]:
# deleting row

In [ ]:
# deleting column

### üí£ Mini Challenge
Fetch the brand name of the 5th row

#### üå± filtering using iloc

In [ ]:
# optaining specific positioned values
df.iloc[2,3]

In [ ]:
# slicing
df.iloc[0:5, 0:3]

In [ ]:
# indexing and slicing
df.iloc[[0,2,5], [0,2]]

### üëâ Sorting Values

In [ ]:
# sorting numerical column

In [ ]:
# sorting in descending order

### üëâ Concatenating Dataframes

In [ ]:
df1 = df.loc[1:4, 'product':'brand']
df1

In [ ]:
df2 = df.loc[1:4, 'product':'brand']
df2

In [ ]:
# concatenate once below the other

In [ ]:
# concat side by side

### üëâ Merging Dataframes

In [ ]:
data1 = {
  "name": ["Sally", "Mary", "John"],
  "age": [50, 40, 30]
}

data2 = {
  "name": ["Sally", "Peter", "Micky"],
  "age": [77, 44, 22]
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

df1

In [ ]:
df2

In [ ]:
newdf = df1.merge(df2, how='right')
newdf

### üëâ append()

In [ ]:
df1 = df1.append(df2, ignore_index=True)

In [ ]:
df1

### üëâ Drop duplicates

In [ ]:
df3 = df1.drop_duplicates(subset ="name", keep = 'last')
df3

### üëâ groupby()
Some common aggregate functions:
1. mean()
2. sum()
3. max()
4. min()
5. median()
6. count()
7. std()

In [ ]:
df = pd.DataFrame({'Gender': ['female', 'male', 'female', 'male', 'male', 'female'], 'Score': [45, 88, 95, 40, 60, 35]})
df

In [ ]:
# get the mean of scores for each gender

### üëâ apply()

In [ ]:
# use a function to extract another column: pass or fail

### üí£ Mini Challenge
Using apply replace the Gender column values with F or M

### üëâ pivot_table()

In [ ]:
pd.pivot_table(df, index='Gender', values='Score')

### üëâ Missing Values

In [ ]:
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
 
# creating a dataframe from list
df = pd.DataFrame(dict)
df

In [ ]:
# using isnull() function

In [ ]:
# using notnull() function

In [ ]:
# filling missing value using fillna()

In [ ]:
# filling a missing value with the previous ones

In [ ]:
# filling null value using fillna() function

In [ ]:
# will replace  Nan value in dataframe with value 999

In [ ]:
# using dropna() function

In [ ]:
# using dropna() function to delete rows with all nans

In [ ]:
# using dropna() function to delete columns with atleast 1 missing value

### üëâ Exporting and Saving Dataframes
    - To export a Dataframe as a csv file, use to_csv() function
    - If a file with the specified filename exists, it will be modified. Otherwise, a new file will be created
    - If you don't want to store index column in the csv file, you can set index_label=False in to_csv() function

## üìö Demonstration and Exercises
### About the dataset

BL is a small leather products business which has recently started selling its products on Amazon. Currently, it has around 40 SKUs registered in the Indian Marketplace. Over the past few months, it has incurred some loss due to return orders. Now, BL seeks help to predict the likelihood of a new order being rejected. This would help them to take necessary actions and subsequently reduce the loss.

Download the dataset from [here](https://www.kaggle.com/datasets/pranalibose/amazon-seller-order-status-prediction)

In [ ]:
# check whether the file is available in the pwd
!ls

### ‚ùì Task 1
1. Read the excel and store it in a dataset
2. Extract list of columns in the dataframe

### ‚ùì Task 2
1. Fetch the first 8 rows
2. Check the number of rows and columns in the dataset
3. Rename the column 'order_no' to 'order number'
4. Fetch the statistical information
5. Get the summary using info()

### ‚ùì Task 3
1. Check the datatype of 'quantity' column
2. Change the datatype of quantity column

### ‚ùì Task 4
1. Loop through the column values and display the number of missing values in each
2. Slice the dataset to fetch the first 5 rows and the last 3 columns
3. Get all the unique values in ship_state column
4. Display the number of unique values in order_status column
5. Filter the dataset to get order numbers only from states maharashtra and west bengal having quantity more than 1
6. Select orders with ship_state 'Maharashtra' and cod with missing value
7. Remove the rupee symbol from item_total and convert the data type from string to float type (Hint: Handle the missing values first, replace it with '‚Çπ0.00')
8. Get the total amount for orders of each state
9. Fetch the mean quantity ordered by each state

### ‚ùì Task 5
1. Generate 2 new dataframes from orders dataframe
    - First dataframe with the first 20 rows
    - Second dataframe with the last 20 rows
2. Concatenate the two dataframes to create a third dataframe
3. Append a new row to the newly created dataframe
4. Delete the last 4 rows from this dataframe
5. Calculate the percentage of missing values in shipping_fee
6. Replace all the missing values with 'empty'
7. Save this dataframe as a csv file

In [ ]:
## Pandas Profiling

## üìö Q/A Session

## üìö Resources

[pandas documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/basics.html#head-and-tail)

[learndatasci](https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/)

[datacamp](https://www.datacamp.com/tutorial/pandas)